body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: justify;
    margin: 0%;

}

#title {
    text-align: center;
    border: 5px solid #000000;
    background-color:
        #809135;
    border-radius: 200px;
}

img {
    width: 400px;
}

.requisits {
    color: black;
    padding: 5%;
    text-align: justify;
}

.passo-a-passo {

    color: black;
}

.documentacao {

    color: black;
    padding: 5%;
    text-align: justify;
}
header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center; 
}
header img{
    width: 300px;
}